# These files will not be committed to github
.env
venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
.vscode/
*.log

# Flutter / Dart
**/.dart_tool/
**/build/
**/pubspec.lock
**/*.iml
**/.flutter-plugins
**/.flutter-plugins-dependencies